<h1>Create User</h1>

<%= form_with(model: @user, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :profile_image %>
    <%= form.file_field :profile_image %>
  </div>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>

<p/>
<%= link_to "New Post", new_post_path %>
<%= link_to "posts", posts_path %>
