<h1>Create Post</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  </p>

  <div>
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>

  </p>

  <div>
    <%= form.submit :submit %>
  </div>
<% end %>

<p/>
<%= link_to "Users", users_path%>
